CREATE TABLE article (id INT IDENTITY NOT NULL, image_id INT, title NVARCHAR(255) NOT NULL, date DATETIME2(6) NOT NULL, content VARCHAR(MAX) NOT NULL, type NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
CREATE UNIQUE INDEX UNIQ_23A0E663DA5256D ON article (image_id) WHERE image_id IS NOT NULL;
CREATE TABLE animal (id INT NOT NULL, owner_id INT, type_id INT, name NVARCHAR(255) NOT NULL, age INT NOT NULL, weight DOUBLE PRECISION NOT NULL, PRIMARY KEY (id));
CREATE INDEX IDX_6AAB231F7E3C61F9 ON animal (owner_id);
CREATE UNIQUE INDEX UNIQ_6AAB231FC54C8C93 ON animal (type_id) WHERE type_id IS NOT NULL;
CREATE TABLE blog (id INT NOT NULL, PRIMARY KEY (id));
CREATE TABLE conversation (id INT IDENTITY NOT NULL, user_id INT, owner_id INT, PRIMARY KEY (id));
CREATE INDEX IDX_8A8E26E9A76ED395 ON conversation (user_id);
CREATE INDEX IDX_8A8E26E97E3C61F9 ON conversation (owner_id);
CREATE TABLE favorite (id INT IDENTITY NOT NULL, user_id INT, type NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
CREATE INDEX IDX_68C58ED9A76ED395 ON favorite (user_id);
CREATE TABLE favorite_animal (id INT NOT NULL, animal_id INT, PRIMARY KEY (id));
CREATE INDEX IDX_561E4FE58E962C16 ON favorite_animal (animal_id);
CREATE TABLE favorite_farmer (id INT NOT NULL, farmer_id INT, PRIMARY KEY (id));
CREATE INDEX IDX_D030C07513481D2B ON favorite_farmer (farmer_id);
CREATE TABLE image (id INT IDENTITY NOT NULL, url NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
CREATE TABLE localisation (id INT IDENTITY NOT NULL, PRIMARY KEY (id));
CREATE TABLE message (id INT IDENTITY NOT NULL, conversation_id INT, content VARCHAR(MAX) NOT NULL, date DATETIME2(6) NOT NULL, seen BIT NOT NULL, PRIMARY KEY (id));
CREATE INDEX IDX_B6BD307F9AC0396 ON message (conversation_id);
CREATE TABLE news (id INT NOT NULL, PRIMARY KEY (id));
CREATE TABLE fos_user (id INT IDENTITY NOT NULL, payment_basket_id INT, username NVARCHAR(180) NOT NULL, username_canonical NVARCHAR(180) NOT NULL, email NVARCHAR(180) NOT NULL, email_canonical NVARCHAR(180) NOT NULL, enabled BIT NOT NULL, salt NVARCHAR(255), password NVARCHAR(255) NOT NULL, last_login DATETIME2(6), confirmation_token NVARCHAR(180), password_requested_at DATETIME2(6), roles VARCHAR(MAX) NOT NULL, type NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
CREATE UNIQUE INDEX UNIQ_957A647992FC23A8 ON fos_user (username_canonical) WHERE username_canonical IS NOT NULL;
CREATE UNIQUE INDEX UNIQ_957A6479A0D96FBF ON fos_user (email_canonical) WHERE email_canonical IS NOT NULL;
CREATE UNIQUE INDEX UNIQ_957A6479C05FB297 ON fos_user (confirmation_token) WHERE confirmation_token IS NOT NULL;
CREATE UNIQUE INDEX UNIQ_957A647958C8D47A ON fos_user (payment_basket_id) WHERE payment_basket_id IS NOT NULL;
EXEC sp_addextendedproperty N'MS_Description', N'(DC2Type:array)', N'SCHEMA', dbo, N'TABLE', fos_user, N'COLUMN', roles;
CREATE TABLE owner (id INT NOT NULL, image_id INT, localisation_id INT, youtube_channel_id INT, name NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
CREATE UNIQUE INDEX UNIQ_CF60E67C3DA5256D ON owner (image_id) WHERE image_id IS NOT NULL;
CREATE UNIQUE INDEX UNIQ_CF60E67CC68BE09C ON owner (localisation_id) WHERE localisation_id IS NOT NULL;
CREATE UNIQUE INDEX UNIQ_CF60E67CA3BFE8 ON owner (youtube_channel_id) WHERE youtube_channel_id IS NOT NULL;
CREATE TABLE payment_basket (id INT IDENTITY NOT NULL, PRIMARY KEY (id));
CREATE TABLE paymentbasket_animal (paymentbasket_id INT NOT NULL, animal_id INT NOT NULL, PRIMARY KEY (paymentbasket_id, animal_id));
CREATE INDEX IDX_905A575575E7FC5A ON paymentbasket_animal (paymentbasket_id);
CREATE UNIQUE INDEX UNIQ_905A57558E962C16 ON paymentbasket_animal (animal_id) WHERE animal_id IS NOT NULL;
CREATE TABLE recipe (id INT NOT NULL, type_animal_id INT, PRIMARY KEY (id));
CREATE INDEX IDX_DA88B1373A506D06 ON recipe (type_animal_id);
CREATE TABLE review (id INT IDENTITY NOT NULL, article_id INT, user_id INT, content NVARCHAR(255) NOT NULL, date DATETIME2(6) NOT NULL, PRIMARY KEY (id));
CREATE INDEX IDX_794381C67294869C ON review (article_id);
CREATE INDEX IDX_794381C6A76ED395 ON review (user_id);
CREATE TABLE type_animal (id INT IDENTITY NOT NULL, name NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
CREATE TABLE youtube_channel (id INT IDENTITY NOT NULL, url NVARCHAR(255) NOT NULL, PRIMARY KEY (id));
ALTER TABLE article ADD CONSTRAINT FK_23A0E663DA5256D FOREIGN KEY (image_id) REFERENCES image (id);
ALTER TABLE animal ADD CONSTRAINT FK_6AAB231F7E3C61F9 FOREIGN KEY (owner_id) REFERENCES owner (id);
ALTER TABLE animal ADD CONSTRAINT FK_6AAB231FC54C8C93 FOREIGN KEY (type_id) REFERENCES type_animal (id);
ALTER TABLE animal ADD CONSTRAINT FK_6AAB231FBF396750 FOREIGN KEY (id) REFERENCES article (id) ON DELETE CASCADE;
ALTER TABLE blog ADD CONSTRAINT FK_C0155143BF396750 FOREIGN KEY (id) REFERENCES article (id) ON DELETE CASCADE;
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E9A76ED395 FOREIGN KEY (user_id) REFERENCES fos_user (id);
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E97E3C61F9 FOREIGN KEY (owner_id) REFERENCES owner (id);
ALTER TABLE favorite ADD CONSTRAINT FK_68C58ED9A76ED395 FOREIGN KEY (user_id) REFERENCES fos_user (id);
ALTER TABLE favorite_animal ADD CONSTRAINT FK_561E4FE58E962C16 FOREIGN KEY (animal_id) REFERENCES animal (id);
ALTER TABLE favorite_animal ADD CONSTRAINT FK_561E4FE5BF396750 FOREIGN KEY (id) REFERENCES favorite (id) ON DELETE CASCADE;
ALTER TABLE favorite_farmer ADD CONSTRAINT FK_D030C07513481D2B FOREIGN KEY (farmer_id) REFERENCES owner (id);
ALTER TABLE favorite_farmer ADD CONSTRAINT FK_D030C075BF396750 FOREIGN KEY (id) REFERENCES favorite (id) ON DELETE CASCADE;
ALTER TABLE message ADD CONSTRAINT FK_B6BD307F9AC0396 FOREIGN KEY (conversation_id) REFERENCES conversation (id);
ALTER TABLE news ADD CONSTRAINT FK_1DD39950BF396750 FOREIGN KEY (id) REFERENCES article (id) ON DELETE CASCADE;
ALTER TABLE fos_user ADD CONSTRAINT FK_957A647958C8D47A FOREIGN KEY (payment_basket_id) REFERENCES payment_basket (id);
ALTER TABLE owner ADD CONSTRAINT FK_CF60E67C3DA5256D FOREIGN KEY (image_id) REFERENCES image (id);
ALTER TABLE owner ADD CONSTRAINT FK_CF60E67CC68BE09C FOREIGN KEY (localisation_id) REFERENCES localisation (id);
ALTER TABLE owner ADD CONSTRAINT FK_CF60E67CA3BFE8 FOREIGN KEY (youtube_channel_id) REFERENCES youtube_channel (id);
ALTER TABLE owner ADD CONSTRAINT FK_CF60E67CBF396750 FOREIGN KEY (id) REFERENCES fos_user (id) ON DELETE CASCADE;
ALTER TABLE paymentbasket_animal ADD CONSTRAINT FK_905A575575E7FC5A FOREIGN KEY (paymentbasket_id) REFERENCES payment_basket (id);
ALTER TABLE paymentbasket_animal ADD CONSTRAINT FK_905A57558E962C16 FOREIGN KEY (animal_id) REFERENCES animal (id);
ALTER TABLE recipe ADD CONSTRAINT FK_DA88B1373A506D06 FOREIGN KEY (type_animal_id) REFERENCES type_animal (id);
ALTER TABLE recipe ADD CONSTRAINT FK_DA88B137BF396750 FOREIGN KEY (id) REFERENCES article (id) ON DELETE CASCADE;
ALTER TABLE review ADD CONSTRAINT FK_794381C67294869C FOREIGN KEY (article_id) REFERENCES article (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6A76ED395 FOREIGN KEY (user_id) REFERENCES fos_user (id);
