{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Beginning of main content -->

    <main>
        <div class="jumbotron">
            <div class="text-center">
                <h1 class="title text-center">How it works ?</h1>
                <img src="{{ asset('assets/img/HowItWorks.png') }}" alt="How it works ?">
            </div>
        </div>
        <h1 class="title text-center">F.A.Q</h1>
        <div class="container">
            <h3 class="title-little">How can I get in contact with a farmer?</h3>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
            <hr class="line">
            <h3 class="title-little">How do I track my order?</h3>
            <h3 class="title-little text-center">Order Confirmation Emails</h3>

            <h5>Once you have placed your order, we will send to you an email acknowledgement providing you with the details and value of your order, which has been debited to your credit/debit card. This is not an order acceptance. Unless we have notified you that we do not accept your order or you have cancelled your (see Cancellations), our acceptance of your order and the completion of the contract between you and us will take place when we have dispatched the goods ordered by you (again via email confirming your items have been dispatched).</h5>
            <h5>The order confirmation email is your receipt; please feel free to print it for your records. The e-mail includes your order number, the details of the products, prices, quantities, promotional information, payment method(s), your shipping and billing addresses as well as the shipping method you selected.</h5>
            <hr class="line">
            <h3 class="title-little">What forms of payment do you accept?</h3>
            <h3 class="title-little text-center">Credit Cards</h3>

            <h5>We currently accept Visa Debit, Visa Credit, Mastercard Debit, Mastercard Credit and Visa Electron for online order payments.</h5>
            <hr class="line">
            <h3 class="title-little">What are your delivery costs and your delivery schedule?</h3>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
            <hr class="line">
            <h3 class="title-little">What are your privacy and security policies?</h3>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
            <hr class="line">
            <h3 class="title-little">How can I contact someone at meet happy meat?</h3>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
            <hr class="line">
            <h3 class="title-little">How do I register and create a profile?</h3>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
            <hr class="line">
            <h3 class="title-little">How do you control the farmers and their labels?</h3>
            <h5>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</h5>
            <hr class="line">

        </div>


    </main>

    <!-- end of the main content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}