{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
    You are a farmer ? Come register <a href="{{ path('register_farmer') }}">here</a>.
{% endblock fos_user_content %}
